/* .produitFront{
    display: flex;
    flex-direction: column;
    margin:10px;
    padding: 15px;
    padding-top: 0%;
    scroll-behavior: smooth;
    justify-content: space-between;
}
.produitBack{
    display: flex;
    flex-direction: column;
    margin:10px;
    padding: 15px;
    padding-top: 0%;
    scroll-behavior: smooth;
    justify-content: space-between;
    transform: rotateY(180deg);
    box-sizing: border-box;
}
.produit{
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.6s;
}
.produit>h3{
    padding-bottom: 15px;
}
.produit:hover{
    transform: rotateY(180deg);
}

 */

 /*page produit*/

.nos_produits {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 40px;
}

.produit {
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 250px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: transform 0.2s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5vh;
}

.produit:hover {
    transform: scale(1.03);
}



.produit img {
    /* width: 100%;
    height: auto;
    border-radius: 8px; */
    width: 200px;         
    height: 250px;       
    object-fit: cover;    
    border-radius: 8px;
}

.produit h3 {
    /* margin-top: 15px; */
    font-size: 1.2em;
}

.produit .prix {
    font-weight: bold;
    color: #2c3e50;
    margin-bottom: 10px;
}

.produit button {
    padding: 10px 20px;
    background-color: #2ecc71;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.produit button:hover {
    background-color: #27ae60;
}
